{% extends "base.html" %}

{% block announce %}
  You can find me on
  <a rel="me" href="https://www.linkedin.com/in/jamesherbert24">
    <span class="twemoji linkedin">
      {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
    <strong class="linkedin">LinkedIn</strong>
  </a>
  and
  <a href="https://www.instagram.com/jamesherbert24">
    <span class="twemoji instagram">
      {% include ".icons/fontawesome/brands/instagram.svg" %}
    </span>
    <strong class="instagram">Instagram</strong>
  </a>
{% endblock %}
