.active-circle {
    color: teal;
}

.standard-circle {
    color: grey;
}

.active-checkmark {
    color: teal;
}

.teal-icon {
    color: teal;
}

.md-grid {
  max-width: 1000px; 
}

.instagram {
    color: #C13584;
}

.linkedin {
    color: #0077B5;
}