@keyframes fade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fading-circle {
    animation: fade 2000ms infinite;
    color: teal;
    opacity: 0;
}

.standard-circle {
    color: grey;
}

.checkmark {
    color: teal;
}